* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    max-width: 1200px;
    color: white;
    background-color: black;
}

h1 {
    text-align: center;
    margin: 20px;
}

h3 {
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    text-transform: uppercase;

}


.images {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    height: 300px;
    width: 100vw;
    background-color: gray;
    justify-content: space-between;
}


.img {
    /* float: left; */
    align-self: center;
    height: 300px;
    width: 280px;
    background-color: yellow;
    overflow: hidden;
}


main {
    margin-top: 40px;
    padding-top: 30px;
    font-weight: bold;
    color: maroon;
    width: 100%;
    background-color: khaki;
    overflow: hidden;
    height: 150px;
}

.result {
    float: left;
    width: 50%;
    text-align: center;
    text-transform: uppercase;

}


.results {
    /* width: 49%; */
    text-align: center;
}